body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  background: rgb(247,251,251);
  background: linear-gradient(0deg, rgba(247,251,251,1) 0%, rgba(134,187,178,1) 86%);
}
h1{
  font-size: 40px;
  width: 30%;
  margin: 0 auto;
  font-family: "Sacramento", cursive;
}

.mid-container
{}
.bottom-container
{}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
}
.top-container{
  padding-top: 100px;
  background-color: #a3d2ca;
}
h3{
  font-family: "Sacramento", cursive;
  font-size: 30px;
  margin-bottom: 30px;
}
p{
  font-family: "Oswald", serif;
  margin-bottom: 40px;
}
.profile{
  background-color: #a3d2ca;
}
hr{
    margin-bottom: 0;
    margin-top: 0;
}
.my-skills{
  height: 425px;
}

