body{
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1{
  font-size: 70px;
  width: 30%;
  margin: 0 auto;
  font-family: "Sacramento", cursive;
}

.mid-container
{}
.bottom-container
{}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud{
  position: absolute;
}
.top-container{
  padding-top: 100px;
  background-color: #a3d2ca;
}
h3{
  font-family: "Sacramento", cursive;
  font-size: 50px;
}
p{
  font-family: "Kufam", serif;
}
.profile{
  background-color: #a3d2ca;
}
hr{
    margin-bottom: 0;
    margin-top: 0;
}
.my-skills{
  height: 425px;
}
